# 1. 이미지 데이터 파일 무시 (확장자별)
*.jpg
*.jpeg
*.mp4
*.avi

# 2. 특정 데이터 폴더 통째로 무시 (추천)
# 만약 이미지가 'dataset'이나 'images' 폴더에 있다면 폴더명을 적으세요.
dataset/
dataset_make_video
test/
output/


# 3. AI 개발 시 생기는 잡동사니 무시
__pycache__/
*.pyc
.ipynb_checkpoints/

# 4. 너무 큰 모델 가중치 파일 (보통 100MB 넘으면 무시)
